.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 844px;
}

.u-section-1 .u-gallery-1 {
  height: 487px;
  width: 726px;
  grid-gap: 10px 10px;
  margin: 217px auto 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(1, auto);
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 22.59%;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 15.625rem;
  font-weight: 700;
  margin: -676px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 3rem;
  width: 585px;
  margin: 418px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-1 .u-gallery-1 {
    height: 483px;
    margin-top: 234px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 12.5rem;
    width: auto;
    margin-top: -580px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-1 .u-gallery-1 {
    height: 362px;
    margin-top: 204px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 9.375rem;
    margin-top: -465px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 14px;
    margin-left: 36px;
    margin-right: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-1 .u-gallery-1 {
    height: 228px;
    margin-top: 235px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: -306px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 22px;
    margin-left: 12px;
    margin-right: 12px;
  }
}.u-section-2 {
  min-height: 501px;
}

.u-section-2 .u-gallery-1 {
  height: 501px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-2 {
  object-position: 0% 50%;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 413px;
  }

  .u-section-2 .u-gallery-1 {
    height: 413px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 705px;
  }

  .u-section-2 .u-gallery-1 {
    height: 949px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1941px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2135px;
    margin-bottom: -114px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1222px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1344px;
    margin-bottom: 0;
  }
}.u-section-3 {
  min-height: 436px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 435px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 142px 33px 0 78px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 435px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 312px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 359px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 348px;
    margin-right: 120px;
    margin-left: 11px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 359px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 446px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 249px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 768px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 142px;
    margin-right: 170px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 413px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 521px;
  }

  .u-section-3 .u-text-1 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 260px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/7ea1f0d443c642ca1f186577915502b7a6fc7be1c88dcf1e7859a9ba400b0df79732c6534adced1769a2e44d87b05d9eecc7b56a0bdbe0a441252e_1280.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 507px;
}

.u-section-4 .u-text-1 {
  font-size: 13.75rem;
  font-weight: 700;
  margin: 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 571px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-4 .u-text-1 {
    font-size: 9.375rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-4 .u-text-1 {
    font-size: 6rem;
    margin-left: -7px;
    margin-right: -7px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 828px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1121px;
  margin: 60px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 241px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 30px 258px;
}

.u-section-5 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  object-position: 50.78% 11.04%;
  width: 338px;
  height: 372px;
  margin: 0 auto 0 -20px;
}

.u-section-5 .u-image-2 {
  object-position: 50.78% 100%;
  width: 338px;
  height: 372px;
  margin: -372px -50px 0 auto;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 774px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 541px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 181px;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 50.78% 71.26%;
    min-height: 447px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 649px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-3 {
    height: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1884px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 1243px;
  }

  .u-section-5 .u-image-3 {
    height: 919px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1597px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 932px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 724px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 587px;
  }

  .u-section-5 .u-image-3 {
    height: 446px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 828px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1121px;
  margin: 60px auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 241px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 30px 258px;
}

.u-section-6 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  object-position: 50.78% 11.04%;
  width: 501px;
  height: 372px;
  margin: 0 43px 0 auto;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 774px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 541px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 181px;
  }

  .u-section-6 .u-layout-cell-2 {
    background-position: 50.78% 71.26%;
    min-height: 447px;
  }

  .u-section-6 .u-image-1 {
    width: 496px;
    height: 368px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 649px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-image-2 {
    height: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1884px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 1243px;
  }

  .u-section-6 .u-image-2 {
    height: 919px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1597px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 932px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 724px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-6 .u-image-1 {
    width: 320px;
    height: 237px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 587px;
  }

  .u-section-6 .u-image-2 {
    height: 446px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 828px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1121px;
  margin: 60px auto 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 255px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 30px 258px;
}

.u-section-7 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 0 0 -29px;
}

.u-section-7 .u-text-2 {
  margin: 20px 29px 0 -29px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  object-position: 50.78% 11.04%;
  width: 501px;
  height: 372px;
  margin: 0 43px 0 auto;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 788px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  margin-top: 36px;
  margin-bottom: 0;
  height: 364px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 214px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 181px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    background-position: 50.78% 71.26%;
    min-height: 447px;
  }

  .u-section-7 .u-image-1 {
    width: 496px;
    height: 368px;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 661px;
    background-position: 50% 50%;
  }

  .u-section-7 .u-image-2 {
    height: 296px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1884px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 1266px;
  }

  .u-section-7 .u-image-2 {
    height: 618px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1597px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 950px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 487px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-7 .u-image-1 {
    width: 320px;
    height: 237px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 598px;
  }

  .u-section-7 .u-image-2 {
    height: 300px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 828px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1121px;
  margin: 60px auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 241px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 30px 30px 258px;
}

.u-section-8 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  object-position: 50.78% 60.2%;
  width: 451px;
  height: 439px;
  margin: 0 auto 0 60px;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 774px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-video-1 {
  width: 505px;
  height: 574px;
  margin: 0 auto 0 -80px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 181px;
  }

  .u-section-8 .u-layout-cell-2 {
    background-position: 50.78% 71.26%;
    min-height: 447px;
  }

  .u-section-8 .u-image-1 {
    margin-left: 45px;
  }

  .u-section-8 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 649px;
  }

  .u-section-8 .u-video-1 {
    width: 304px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1884px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1597px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-8 .u-image-1 {
    width: 320px;
    height: 311px;
    margin-left: 0;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 828px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1121px;
  margin: 60px auto 0 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 241px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 30px 30px 258px;
}

.u-section-9 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 1px 0 -58px;
}

.u-section-9 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-image-1 {
  object-position: 50.78% 90.08%;
  width: 310px;
  height: 439px;
  margin: 0 auto;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 774px;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-video-1 {
  width: 505px;
  height: 574px;
  margin: 0 auto 0 -80px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 181px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    background-position: 50.78% 71.26%;
    min-height: 447px;
  }

  .u-section-9 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 649px;
  }

  .u-section-9 .u-video-1 {
    width: 304px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1884px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1597px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 269px;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 828px;
}

.u-section-10 .u-layout-wrap-1 {
  width: 1121px;
  margin: 60px auto 0 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 255px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 30px 30px 258px;
}

.u-section-10 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 -29px 0 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-image-1 {
  object-position: 50.78% 11.04%;
  width: 432px;
  height: 434px;
  margin: 0 34px 0 auto;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 774px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 541px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 214px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 181px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    background-position: 50.78% 71.26%;
    min-height: 447px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 649px;
    background-position: 50% 50%;
  }

  .u-section-10 .u-image-2 {
    height: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1884px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 1243px;
  }

  .u-section-10 .u-image-2 {
    height: 919px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1597px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 932px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-2 {
    height: 724px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-10 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-10 .u-image-1 {
    width: 320px;
    height: 321px;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 587px;
  }

  .u-section-10 .u-image-2 {
    height: 446px;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 828px;
}

.u-section-11 .u-layout-wrap-1 {
  width: 1121px;
  margin: 60px auto 0 0;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 241px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 30px 30px 258px;
}

.u-section-11 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 -30px 0 0;
}

.u-section-11 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-image-1 {
  object-position: 50.78% 11.04%;
  width: 432px;
  height: 434px;
  margin: 0 34px 0 auto;
}

.u-section-11 .u-layout-cell-3 {
  min-height: 774px;
}

.u-section-11 .u-container-layout-3 {
  padding: 30px;
}

.u-section-11 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 541px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 181px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 0;
  }

  .u-section-11 .u-layout-cell-2 {
    background-position: 50.78% 71.26%;
    min-height: 447px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 649px;
    background-position: 50% 50%;
  }

  .u-section-11 .u-image-2 {
    height: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1884px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 1243px;
  }

  .u-section-11 .u-image-2 {
    height: 919px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1597px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 932px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-2 {
    height: 724px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-11 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-11 .u-image-1 {
    width: 320px;
    height: 321px;
    margin-right: 0;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 587px;
  }

  .u-section-11 .u-image-2 {
    height: 446px;
  }
}.u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 828px;
}

.u-section-12 .u-layout-wrap-1 {
  width: 1121px;
  margin: 60px auto 0 0;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 241px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px 30px 30px 258px;
}

.u-section-12 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 -30px 0 0;
}

.u-section-12 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px;
}

.u-section-12 .u-image-1 {
  object-position: 50.78% 11.04%;
  width: 485px;
  height: 322px;
  margin: 0 11px 0 auto;
}

.u-section-12 .u-layout-cell-3 {
  min-height: 774px;
}

.u-section-12 .u-container-layout-3 {
  padding: 30px;
}

.u-section-12 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 541px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 181px;
  }

  .u-section-12 .u-text-1 {
    margin-right: 0;
  }

  .u-section-12 .u-layout-cell-2 {
    background-position: 50.78% 71.26%;
    min-height: 447px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 649px;
    background-position: 50% 50%;
  }

  .u-section-12 .u-image-2 {
    height: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1884px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 1243px;
  }

  .u-section-12 .u-image-2 {
    height: 919px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1597px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 932px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-image-2 {
    height: 724px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-12 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-12 .u-image-1 {
    width: 320px;
    height: 212px;
    margin-right: 0;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 587px;
  }

  .u-section-12 .u-image-2 {
    height: 446px;
  }
}.u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 828px;
}

.u-section-13 .u-layout-wrap-1 {
  width: 1121px;
  margin: 60px auto 0 0;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 335px;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px 30px 30px 258px;
}

.u-section-13 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 -29px 0 -119px;
}

.u-section-13 .u-text-2 {
  margin: 20px 114px 0 -114px;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px;
}

.u-section-13 .u-image-1 {
  object-position: 50.78% 11.04%;
  height: 322px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-13 .u-layout-cell-3 {
  min-height: 774px;
}

.u-section-13 .u-container-layout-3 {
  padding: 30px;
}

.u-section-13 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 541px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-13 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 281px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 181px;
  }

  .u-section-13 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-layout-cell-2 {
    background-position: 50.78% 71.26%;
    min-height: 447px;
  }

  .u-section-13 .u-image-1 {
    height: 265px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 649px;
    background-position: 50% 50%;
  }

  .u-section-13 .u-image-2 {
    height: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1884px;
  }

  .u-section-13 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-13 .u-image-1 {
    height: 347px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 1243px;
  }

  .u-section-13 .u-image-2 {
    height: 919px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1597px;
  }

  .u-section-13 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-1 {
    height: 273px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 932px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-2 {
    height: 724px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-13 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-13 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-13 .u-image-1 {
    height: 168px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 587px;
  }

  .u-section-13 .u-image-2 {
    height: 446px;
  }
}.u-section-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/1161696af368269203acaf43781e51f978cb3ebf67b77af8696e4902fb1734b1131c608bf5cb83c5de628ff07167d25e44b32389200da4b45f9e1a_1280.jpg");
}

.u-section-14 .u-sheet-1 {
  min-height: 507px;
}

.u-section-14 .u-text-1 {
  font-size: 13.75rem;
  font-weight: 700;
  margin: 30px 0 -68px;
}

@media (max-width: 1199px) {
  .u-section-14 {
    background-position: 50% 50%;
  }

  .u-section-14 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-14 .u-text-1 {
    margin-top: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-14 .u-text-1 {
    width: auto;
    margin-top: 137px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-14 .u-text-1 {
    font-size: 9.375rem;
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-14 .u-text-1 {
    font-size: 6rem;
    margin-top: 56px;
    margin-left: -7px;
    margin-right: -7px;
  }
}.u-section-15 {
  min-height: 711px;
}

.u-section-15 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-15 .u-layout-cell-1 {
  min-height: 764px;
  background-image: none;
}

.u-section-15 .u-container-layout-1 {
  padding: 60px 30px 30px;
}

.u-section-15 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 150px 0 0;
}

.u-section-15 .u-text-2 {
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-15 .u-link-1 {
  border-style: solid;
  padding-bottom: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
}

.u-section-15 .u-image-1 {
  background-image: url("images/VIDEO-2019-02-15-20-19-16.gif");
  min-height: 711px;
  background-position: 50% 50%;
}

.u-section-15 .u-container-layout-2 {
  padding: 0;
}

.u-section-15 .u-layout-cell-3 {
  min-height: 711px;
  background-image: none;
}

.u-section-15 .u-container-layout-3 {
  padding: 30px;
}

.u-section-15 .u-image-2 {
  min-height: 312px;
  background-image: url("images/logo.png");
  background-position: 50% 50%;
  width: 312px;
  margin: 170px auto 0;
}

.u-section-15 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-15 {
    min-height: 588px;
  }

  .u-section-15 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 630px;
  }

  .u-section-15 .u-image-1 {
    min-height: 586px;
  }

  .u-section-15 .u-layout-cell-3 {
    min-height: 586px;
  }

  .u-section-15 .u-image-2 {
    min-height: 253px;
    width: 253px;
  }
}

@media (max-width: 991px) {
  .u-section-15 {
    min-height: 450px;
  }

  .u-section-15 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-15 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-15 .u-image-1 {
    min-height: 449px;
  }

  .u-section-15 .u-layout-cell-3 {
    min-height: 449px;
  }

  .u-section-15 .u-image-2 {
    min-height: 180px;
    width: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-15 {
    min-height: 338px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-image-1 {
    min-height: 446px;
  }

  .u-section-15 .u-layout-cell-3 {
    min-height: 1010px;
  }

  .u-section-15 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-image-2 {
    width: 269px;
  }

  .u-section-15 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-15 {
    min-height: 213px;
  }

  .u-section-15 .u-image-1 {
    min-height: 281px;
  }

  .u-section-15 .u-layout-cell-3 {
    min-height: 636px;
  }
}.u-section-16 {
  min-height: 573px;
}

.u-section-16 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-16 .u-image-1 {
  min-height: 573px;
  background-image: url("images/VIDEO-2018-11-23-01-21-37.gif");
  background-position: 50% 50%;
}

.u-section-16 .u-container-layout-1 {
  padding: 30px;
}

.u-section-16 .u-layout-cell-2 {
  min-height: 573px;
}

.u-section-16 .u-container-layout-2 {
  padding: 30px;
}

.u-section-16 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 300;
  margin: 0;
}

.u-section-16 .u-text-2 {
  font-size: 1.125rem;
  margin: 29px 0 0;
}

@media (max-width: 1199px) {
  .u-section-16 {
    min-height: 472px;
  }

  .u-section-16 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-image-1 {
    min-height: 472px;
  }

  .u-section-16 .u-layout-cell-2 {
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-16 {
    min-height: 974px;
  }

  .u-section-16 .u-image-1 {
    min-height: 362px;
  }

  .u-section-16 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-16 {
    min-height: 261px;
  }

  .u-section-16 .u-image-1 {
    min-height: 418px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-image-1 {
    min-height: 512px;
  }

  .u-section-16 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-17 {
  background-image: none;
}

.u-section-17 .u-sheet-1 {
  min-height: 702px;
}

.u-section-17 .u-slider-1 {
  margin-top: 60px;
  margin-bottom: 35px;
  min-height: 607px;
}

.u-section-17 .u-carousel-indicators-1 {
  position: absolute;
  width: 56px;
  height: 22px;
  top: auto;
  bottom: 23px;
}

.u-section-17 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-17 .u-group-1 {
  width: 324px;
  min-height: 399px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-17 .u-container-layout-2 {
  padding: 40px;
}

.u-section-17 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 35px 0 0;
}

.u-section-17 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-17 .u-image-1 {
  width: 646px;
  height: 464px;
  margin: -384px 35px 0 auto;
}

.u-section-17 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-17 .u-group-2 {
  width: 476px;
  min-height: 351px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-17 .u-container-layout-4 {
  padding: 40px;
}

.u-section-17 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 35px 0 0;
}

.u-section-17 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-17 .u-image-2 {
  width: 520px;
  height: 464px;
  object-position: 50% 31.84%;
  margin: -351px 0 0 auto;
}

.u-section-17 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-17 .u-group-3 {
  width: 304px;
  min-height: 439px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-17 .u-container-layout-6 {
  padding: 40px;
}

.u-section-17 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 35px 0 0;
}

.u-section-17 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-17 .u-image-3 {
  width: 326px;
  height: 464px;
  object-position: 50% 26.03%;
  margin: -439px auto 0;
}

.u-section-17 .u-image-4 {
  width: 326px;
  height: 464px;
  object-position: 50% 26.03%;
  margin: -464px 12px 0 auto;
}

.u-section-17 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-17 .u-group-4 {
  width: 476px;
  min-height: 231px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-17 .u-container-layout-8 {
  padding: 40px;
}

.u-section-17 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 35px 0 0;
}

.u-section-17 .u-text-8 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-17 .u-image-5 {
  width: 301px;
  height: 464px;
  object-position: 50% 26.03%;
  margin: -231px 219px 0 auto;
}

.u-section-17 .u-container-layout-9 {
  padding: 30px 50px;
}

.u-section-17 .u-group-5 {
  width: 374px;
  min-height: 399px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-17 .u-container-layout-10 {
  padding: 40px;
}

.u-section-17 .u-text-9 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 35px 0 0;
}

.u-section-17 .u-text-10 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-17 .u-image-6 {
  width: 587px;
  height: 464px;
  margin: -384px 35px 0 auto;
}

.u-section-17 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  background-image: none;
}

.u-section-17 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-17 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-17 .u-slider-1 {
    min-height: 591px;
    height: auto;
  }

  .u-section-17 .u-carousel-indicators-1 {
    bottom: 47px;
  }

  .u-section-17 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-17 .u-group-1 {
    width: 405px;
    min-height: 440px;
    margin-right: 435px;
  }

  .u-section-17 .u-text-1 {
    width: auto;
  }

  .u-section-17 .u-image-1 {
    width: 391px;
    height: 440px;
    object-position: 13.57% 50%;
    margin-top: -440px;
  }

  .u-section-17 .u-container-layout-3 {
    padding-bottom: 25px;
  }

  .u-section-17 .u-group-2 {
    width: 405px;
    min-height: 440px;
    margin-right: 435px;
  }

  .u-section-17 .u-text-3 {
    width: auto;
  }

  .u-section-17 .u-image-2 {
    width: 391px;
    height: 440px;
    object-position: 13.57% 50%;
    margin-top: -440px;
  }

  .u-section-17 .u-group-3 {
    width: 405px;
    min-height: 440px;
    margin-right: 435px;
  }

  .u-section-17 .u-text-5 {
    width: auto;
  }

  .u-section-17 .u-image-3 {
    height: 465px;
  }

  .u-section-17 .u-image-4 {
    height: 465px;
    margin-top: -465px;
  }

  .u-section-17 .u-group-4 {
    width: 405px;
    min-height: 440px;
    margin-right: 435px;
  }

  .u-section-17 .u-text-7 {
    width: auto;
  }

  .u-section-17 .u-group-5 {
    width: 405px;
    min-height: 440px;
    margin-right: 435px;
  }

  .u-section-17 .u-text-9 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-17 .u-slider-1 {
    min-height: 906px;
  }

  .u-section-17 .u-carousel-indicators-1 {
    bottom: 27px;
  }

  .u-section-17 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-17 .u-group-1 {
    min-height: 394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-17 .u-container-layout-2 {
    padding: 22px 30px;
  }

  .u-section-17 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-17 .u-image-1 {
    height: 375px;
    margin-top: 30px;
    margin-bottom: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-17 .u-container-layout-3 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-17 .u-group-2 {
    min-height: 394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-17 .u-container-layout-4 {
    padding: 22px 30px;
  }

  .u-section-17 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-17 .u-image-2 {
    height: 375px;
    margin-top: 30px;
    margin-bottom: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-17 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-17 .u-group-3 {
    min-height: 394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-17 .u-container-layout-6 {
    padding: 22px 30px;
  }

  .u-section-17 .u-text-6 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-17 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-17 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-17 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-17 .u-group-4 {
    min-height: 394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-17 .u-container-layout-8 {
    padding: 22px 30px;
  }

  .u-section-17 .u-text-8 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-17 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-17 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-17 .u-group-5 {
    min-height: 394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-17 .u-container-layout-10 {
    padding: 22px 30px;
  }

  .u-section-17 .u-text-10 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-17 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-17 .u-image-1 {
    margin-top: 20px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-17 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-17 .u-image-2 {
    margin-top: 20px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-17 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-17 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-17 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-container-layout-10 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-17 .u-image-6 {
    height: 411px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-image-3 {
    height: 456px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-17 .u-image-4 {
    height: 456px;
    margin-top: -456px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-17 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-image-6 {
    height: 253px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-18 {
  background-image: none;
}

.u-section-18 .u-sheet-1 {
  min-height: 600px;
}

.u-section-18 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-18 .u-layout-cell-1 {
  min-height: 600px;
}

.u-section-18 .u-container-layout-1 {
  padding: 30px;
}

.u-section-18 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-18 .u-text-2 {
  font-weight: 900;
  font-size: 6rem;
  margin: 20px 0 0;
}

.u-section-18 .u-image-1 {
  min-height: 600px;
  background-image: url("images/padelgine1.png");
  background-position: 48.17% 50%;
}

.u-section-18 .u-container-layout-2 {
  padding: 30px;
}

.u-section-18 .u-layout-cell-3 {
  min-height: 600px;
}

.u-section-18 .u-container-layout-3 {
  padding: 30px;
}

.u-section-18 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-18 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-18 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-18 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-18 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-18 .u-image-1 {
    min-height: 495px;
  }

  .u-section-18 .u-layout-cell-3 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-18 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-18 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-18 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-18 .u-container-layout-1 {
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-18 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-18 .u-image-1 {
    min-height: 379px;
  }

  .u-section-18 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-18 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-18 .u-sheet-1 {
    min-height: 1314px;
  }

  .u-section-18 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-18 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-18 .u-image-1 {
    min-height: 682px;
  }

  .u-section-18 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-sheet-1 {
    min-height: 1073px;
  }

  .u-section-18 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-18 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-18 .u-text-2 {
    font-size: 6rem;
  }

  .u-section-18 .u-image-1 {
    min-height: 537px;
  }
}.u-section-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/ed45399cba8f638172f657c18d583a30a19585ddc231b218041d04f053517d6a7a33cdb19b83d280c7af2679f1e5b592ed6c5ff1be230a69f74e8b_1280.png");
}

.u-section-19 .u-sheet-1 {
  min-height: 507px;
}

.u-section-19 .u-text-1 {
  font-size: 13.75rem;
  font-weight: 700;
  margin: 60px 0;
}

@media (max-width: 1199px) {
  .u-section-19 {
    background-position: 50% 50%;
  }

  .u-section-19 .u-sheet-1 {
    min-height: 571px;
  }
}

@media (max-width: 991px) {
  .u-section-19 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-19 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-19 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-19 .u-text-1 {
    font-size: 9.375rem;
  }
}

@media (max-width: 575px) {
  .u-section-19 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-19 .u-text-1 {
    font-size: 6rem;
    margin-left: -7px;
    margin-right: -7px;
  }
}.u-section-20 {
  background-image: none;
}

.u-section-20 .u-sheet-1 {
  min-height: 717px;
}

.u-section-20 .u-list-1 {
  width: 724px;
  min-height: 479px;
  grid-template-rows: auto;
  margin: 60px 0 0 auto;
}

.u-section-20 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  grid-auto-rows: 100%;
}

.u-section-20 .u-container-layout-1 {
  padding: 0;
}

.u-section-20 .u-image-1 {
  height: 419px;
  object-position: 50% 48.3%;
  margin: 0 auto 0 0;
}

.u-section-20 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 51px 0 0;
}

.u-section-20 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-20 .u-text-3 {
  font-weight: 700;
  margin: 20px 288px 0 0;
}

.u-section-20 .u-container-layout-2 {
  padding: 0;
}

.u-section-20 .u-image-2 {
  height: 419px;
  object-position: 50% 59.45%;
  margin: 0 auto 0 0;
}

.u-section-20 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 51px 0 0;
}

.u-section-20 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-20 .u-text-6 {
  font-weight: 700;
  margin: 20px 288px 0 0;
}

.u-section-20 .u-group-1 {
  width: 396px;
  min-height: 598px;
  margin: -668px auto 60px 0;
}

.u-section-20 .u-container-layout-3 {
  padding: 30px;
}

.u-section-20 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
}

.u-section-20 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-20 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-20 .u-list-1 {
    width: 561px;
    min-height: 623px;
    height: auto;
  }

  .u-section-20 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-20 .u-image-1 {
    height: 629px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-image-2 {
    height: 629px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-group-1 {
    width: 369px;
  }

  .u-section-20 .u-text-7 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-20 .u-sheet-1 {
    min-height: 1836px;
  }

  .u-section-20 .u-list-1 {
    margin-right: auto;
  }

  .u-section-20 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(50% - 5px);
  }

  .u-section-20 .u-image-1 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-text-1 {
    margin-right: 47px;
  }

  .u-section-20 .u-text-3 {
    margin-right: 284px;
  }

  .u-section-20 .u-image-2 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-text-4 {
    margin-right: 47px;
  }

  .u-section-20 .u-text-6 {
    margin-right: 284px;
  }

  .u-section-20 .u-group-1 {
    min-height: 278px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-20 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-20 .u-text-7 {
    font-size: 3rem;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-20 .u-text-8 {
    margin-right: auto;
  }

  .u-section-20 .u-btn-1 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-20 .u-list-1 {
    width: 540px;
    min-height: 2477px;
  }

  .u-section-20 .u-image-1 {
    height: 938px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-text-1 {
    margin-right: 0;
  }

  .u-section-20 .u-text-3 {
    margin-right: 104px;
  }

  .u-section-20 .u-image-2 {
    height: 938px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-text-4 {
    margin-right: 0;
  }

  .u-section-20 .u-text-6 {
    margin-right: 104px;
  }

  .u-section-20 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-20 .u-sheet-1 {
    min-height: 1624px;
  }

  .u-section-20 .u-list-1 {
    width: 340px;
    min-height: 623px;
  }

  .u-section-20 .u-image-1 {
    height: 591px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-text-3 {
    margin-right: 0;
  }

  .u-section-20 .u-image-2 {
    height: 591px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-text-6 {
    margin-right: 0;
  }

  .u-section-20 .u-text-7 {
    font-size: 2.25rem;
  }
}